{
    "gui":{
        "background" : {
            "type" : "background",
            "fileHeader" : "/interface/chests/tetherheader.png",
            "fileBody" : "/interface/chests/tetherbody.png",
            "fileFooter" : "/interface/chests/tetherfooter.png"
          },
          "title" : {
            "type" : "label",
            "value" : "",
            "hAnchor" : "left",
            "position" : [20, 20],
            "zlevel" : -10
          },
          "subTitle" : {
            "type" : "label",
            "value" : "^shadow;^gray;Liquid Storage",
            "hAnchor" : "left",
            "position" : [20, 10],
            "zlevel" : -10
          },
          "clear" : {
            "type" : "button",
            "base" : "/interface/button.png",
            "hover" : "/interface/buttonhover.png",
            "press" : "/interface/buttonhover.png",
            "caption" : "Empty",
            "position" : [166, 26]
          },
          "itemGrid" : { //input slot
            "type" : "itemgrid",
            "position" : [10, 0],
            "dimensions" : [1, 1],
            "spacing" : [19, 19],
            "backingImage" : "/interface/inventory/empty.png"
          },
          "count" : {
            "type" : "label",
            "value" : "", //"<slots>/<maxslots>" or something
            "hAnchor" : "mid",
            "position" : [10, 30]
          }
    }//,
    //"scripts" : ["/interface/fluidcontainers/fluidCrategui.lua"],
    //"scriptDelta" : 20
}