{

  //possible materials for tool parts
  "sbtkToolMatConfig" : {

    //default material
    "default" : {
      "label" : "-- ERROR --",
      "desc" : "-- ERROR --",
      "tags" : [ "default" ],
      "priceMult" : 0,
      //material gained upon breaking down part
      "deconstructMat" : "money",
      "tier" : 1,
      "textColor" : "ff0000",
      "colors" : [
        "500050", //darkest
        "960096",
        "ff00ff",
        "ff96ff",
        "ffd0ff", //brightest
        "c864c8"  //glow outline (add Alpha)
      ],
      //specific stats per part type
      "partsConfig" : {
        "testPart" : {
          "desc" : "sbtk part failed to change material",
          "damage" : 0
        },
        "daggerblade" : {
          "desc" : "sbtk part failed to change material",
          "damage" : 0
        }
      }
    },

    "preview" : {
      "label" : "",
      "desc" : "",
      "tags" : [ "default" ],
      "priceMult" : 0,
      "deconstructMat" : "money",
      "tier" : 1,
      "textColor" : "707070",
      "colors" : [
        "395c5c", //darkest
        "577777",
        "84a2a2",
        "b0cece",
        "e0fefe", //brightest
        "00000000"  //glow outline (add Alpha)
      ],
      //specific stats per part type
      "partsConfig" : {
        "testPart" : {
          "desc" : "",
          "damage" : 0
        },
        "daggerblade" : {
          "desc" : "",
          "damage" : 0
        }
      }
    },

    "iron" : {
      "label" : "Iron",
      "desc" : "Iron Description",
      "tags" : [ "metal" ],
      "priceMult" : 0.5,
      "deconstructMat" : "ironbar",
      "tier" : 1,
      "textColor" : "d0d0d0",
      "colors" : [
        "433539", //darkest
        "696f67",
        "958d86",
        "c5bab1",
        "ebe1dc", //brightest
        "00000000"  //glow outline (add Alpha)
      ],
      "partsConfig" : {
        "testPart" : {
          "desc" : "Ability: ^#d0d0d0;Be made of iron.^reset;",
          "damage" : 12
        },
        "daggerblade" : {
          "desc" : "Ability: ^#d0d0d0;cut things^reset;",
          "damage" : 12
        },
        "swordhandle" : {
          "desc" : "Part of this complete breakfast."
        }
      }
    },

    "copper" : {
      "label" : "Copper",
      "desc" : "Copper Description",
      "tags" : [ "metal" ],
      "priceMult" : 0.4,
      "deconstructMat" : "copperbar",
      "tier" : 0.8,
      "textColor" : "b5643b",
      "colors" : [
        "481903", //darkest
        "89360d",
        "bd795a",
        "e7ab89",
        "fcd6b8", //brightest
        "00000000"  //glow outline (add Alpha)
      ],
      "partsConfig" : {
        "testPart" : {
          "desc" : "^#b5643b;copper^reset;",
          "damage" : 12
        },
        "daggerblade" : {
          "desc" : "Ability: ^#b5643b;cut things^reset;",
          "damage" : 12
        },
        "swordhandle" : {
          "desc" : ""
        }
      }
    }   

  },

  //specify the output part material based on ingredient
  "sbtkCraftingMatConfig" : {
    "ironbar" : "iron",
    "copperbar" : "copper"
  },

  //all general part types
  "sbtkPartConfig" : {
//    "testPart" : {
//      "label" : "Test Part",
//      "inventoryIcon" : "/items/sbtk/parts/testitem.png",
//      "partImages" : {
//        "sbtktesttool" : "/items/sbtk/parts/testitem.png"
//      },
//      "matCost" : 1,
//      "priceMult" : 0
//    },
    "daggerblade" : {
      "label" : "Dagger Blade",
      "inventoryIcon" : "/items/sbtk/parts/sbtkdaggerblade.png",
      //what the part looks like on the actual tool
      "partImages" : {
        "sbtkdagger" : "/items/sbtk/tools/partimages/dagger/sbtkdaggerblade.png"
      },
      "matCost" : 5,
      "priceMult" : 0.8
    },
    "swordhandle" : {
      "label" : "Hilt",
      "inventoryIcon" : "/items/sbtk/parts/sbtkdaggerhandle.png",
      "partImages" : {
        "sbtkdagger" : "/items/sbtk/tools/partimages/dagger/sbtkdaggerhandle.png"
      },
      "matCost" : 3,
      "priceMult" : 0.6
    },
    "toolcore" : {
      "label" : "Tool Core",
      "inventoryIcon" : "/items/sbtk/parts/sbtktoolcore.png",
      "partImages" : {
        "sbtkdagger" : "/items/sbtk/tools/partimages/dagger/sbtkdaggercore.png"
      },
      "matCost" : 4,
      "priceMult" : 0.8
    }
  },

  //default partsconfig if a material is missing it
  "partsConfigDefault" : {
    "testPart" : {
      "desc" : "Test Part Description",
      "damage" : 1
    },
    "daggerblade" : {
      "desc" : "The blade of a dagger.",
      "damage" : 1
    },
    "swordhandle" : {
      "desc" : "A basic hilt."
    },
    "toolcore" : {
      "desc" : "The core of any tool."
    }
  },

  //part colors in template to be replaced
  "baseColors" : [
    "500050", //darkest
    "960096",
    "ff00ff",
    "ff96ff",
    "ffd0ff", //brightest
    "c864c8"  //glow outline
  ]

  // /spawnitem sbtkpart 1 '{"sbtkData":{"material":"iron","partType":"daggerblade"}}'
}
