{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/objectcrafting/campfire_header.png",
      "fileBody" : "/interface/songbook/body_blank.png",
      "fileFooter" : "/interface/objectcrafting/campfire_footer.png"
    },
    
    "itemScrollArea" : {
      "type" : "scrollArea",
      "rect" : [5, 90, 140, 250],
      "children" : {
        "itemList" : {
          "type" : "list",
          "callback" : "itemSelected",
          "schema" : {
            "selectedBG" : "/interface/scripted/equipmentselect/listitemselected.png",
            "unselectedBG" : "/interface/scripted/equipmentselect/listitem.png",
            "spacing" : [0, 1],
            "memberSize" : [120, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/equipmentselect/listitem.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "unavailableoverlay" : {
                "type" : "image",
                "file" : "/interface/scripted/equipmentselect/unavailableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "outputPreview" : {
      "type" : "itemslot",
      "position" : [10, 54],
      "callback" : "null"
    },
    

    "partTypeLabel" : {
      "type" : "label",
      "position" : [93, 90],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "color" : "cyan",
      "value" : "Part type: "
    },
    "partTypeDisplay" : {
      "type" : "label",
      "position" : [93, 80],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "value" : "--"
    },

    "btnConfirm" : {
      "type" : "button",
      "position" : [42, 36],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "disabledImage" : "/interface/buttongrayed.png",
      "caption" : "CRAFT",
      "callback" : "confirm"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [30, 54],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "slotOffset" : 1,
      "position" : [116, 54],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [123, 266]
    },
    "lblText" : {
      "type" : "label",
      "position" : [56, 250],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "^#b9b5b2;Select part type"
    },
    "lblText2" : {
      "type" : "label",
      "position" : [86, 57],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "^#b9b5b2;Material"
    },
    //"canvas" : {
    //  "zlevel" : 1,
    //  "type" : "canvas",
    //  "rect" : [0, 0, 1000, 1000],
    //  "captureMouseEvents" : false
    //},
    "overlay" : {
      "type" : "image",
      "file" : "/interface/objectcrafting/campfire_shine.png",
      "position" : [-20, 20]
    }
  },

  "scriptWidgetCallbacks" : [
    "itemSelected",
    "confirm"
  ],

  "scripts" : ["/interface/objectcrafting/sbtkpartstationgui.lua"],
  "scriptDelta" : 1
}
