{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/songbook/header.png",
      "fileBody" : "/interface/songbook/body_blank.png",
      "fileFooter" : "/interface/songbook/footer.png"
    },
    
    "itemScrollArea" : {
      "type" : "scrollArea",
      "rect" : [5, 90, 154, 232],
      "children" : {
        "itemList" : {
          "type" : "list",
          "callback" : "itemSelected",
          "schema" : {
            "selectedBG" : "/interface/scripted/equipmentselect/listitemselected.png",
            "unselectedBG" : "/interface/scripted/equipmentselect/listitem.png",
            "spacing" : [0, 1],
            "memberSize" : [148, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/equipmentselect/listitem.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "unavailableoverlay" : {
                "type" : "image",
                "file" : "/interface/scripted/equipmentselect/unavailableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    
    
    "outputPreview" : {
      "type" : "itemslot",
      "position" : [10, 46],
      "callback" : "null"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [30, 46],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "slotOffset" : 1,
      "position" : [132, 46],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },

    //"partTypeLabel" : {
    //  "type" : "label",
    //  "position" : [93, 90],
    //  "hAnchor" : "mid",
    //  "vAnchor" : "bottom",
    //  "color" : "cyan",
    //  "value" : "Part type: "
    //},
    //"partTypeDisplay" : {
    //  "type" : "label",
    //  "position" : [93, 80],
    //  "hAnchor" : "mid",
    //  "vAnchor" : "bottom",
    //  "value" : "--"
    //},

    "btnConfirm" : {
      "type" : "button",
      "position" : [56, 28],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "disabledImage" : "/interface/buttongrayed.png",
      "caption" : "CRAFT",
      "callback" : "confirm"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [140, 252]
    },
    "lblText" : {
      "type" : "label",
      "position" : [82, 236],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "^#b9b5b2;Select part type"
    },
    "lblText3" : {
      "type" : "label",
      "position" : [86, 46],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : ""
    },
    "lblText2" : {
      "type" : "label",
      "position" : [86, 56],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "^#b9b5b2;Material"
    } //,
    //"canvas" : {
    //  "zlevel" : 1,
    //  "type" : "canvas",
    //  "rect" : [0, 0, 1000, 1000],
    //  "captureMouseEvents" : false
    //},
    //"overlay" : {
    //  "type" : "image",
    //  "file" : "/interface/objectcrafting/campfire_shine.png",
    //  "position" : [-20, 20]
    //}
  },

  "scriptWidgetCallbacks" : [
    "itemSelected",
    "confirm"
  ],

  "scripts" : ["/interface/objectcrafting/sbtkpartstationgui.lua"],
  "scriptDelta" : 1
}
